ion-menu-button,
#add {
    color: var(--ion-color-primary);
}

img {
    width: 100%;
    max-width: 200px;
    height: auto;
}

.title {
    float: left;
}

#add {
    float: right;
    font-size: xxx-large;
}
