<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Pizza</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card *ngFor="let pizza of pizzas" routerLink="/pizza/{{pizza.id}}">
    <img src="{{pizza.picture}}">
    <ion-card-header>
      <div class="title">
        <ion-card-subtitle>{{pizza.price}} €</ion-card-subtitle>
        <ion-card-title>{{pizza.name}}</ion-card-title>
      </div>
      <ion-button>
        <ion-icon name="add-outline"></ion-icon>
      </ion-button>
    </ion-card-header>
  </ion-card>
</ion-content>
