<ion-header [translucent]="true">
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title>Pizza</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card *ngFor="let pizza of pizzas">
        <img src="{{pizza.photo}}">
        <ion-card-header>
            <div class="title" routerLink="/pizzas/{{pizza.id}}">
                <ion-card-subtitle>{{pizza.prix}} €</ion-card-subtitle>
                <ion-card-title>{{pizza.nom}}</ion-card-title>
            </div>
            <ion-icon name="add-circle" (click)="addPizza(pizza)" id="add"></ion-icon>
        </ion-card-header>
    </ion-card>
</ion-content>