<ion-header [translucent]="true">
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title>Admin Ingredients</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <form (ngSubmit)="addIngredient()">
        <ion-item>
            <ion-label>Nom :</ion-label>
            <ion-input type="text" name="nom" *ngIf="ingredient" [(ngModel)]="ingredient.nom"></ion-input>
        </ion-item>
        <ion-button type="submit">Valider</ion-button>
    </form>
</ion-content>