ion-menu-button {
    color: var(--ion-color-primary);
  }
  
  ion-card-header {
    width: 100%;
    height: 85px;
  }
  
  img {
    width: 100%;
    max-width: 400px;
    height: auto;
  }
  
  .title {
    float: left;
  }
  
  ion-button {
    float: right;
  }