ion-menu-button,
#quit,
#add,
#cart {
    color: var(--ion-color-primary);
}

#quit {
    margin-right: 10px;
    margin-top: 10px;
    float: right;
}

ion-card-header {
    width: 100%;
    height: 85px;
}

img {
    width: 100%;
    max-width: 400px;
    height: auto;
}

.title {
    float: left;
}

#add {
    float: right;
    font-size: xxx-large;
}

#cart {
    margin-right: 3%;
}
