<ion-header [translucent]="true">
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <!-- <ion-buttons class="quit" slot="end" routerLink="/pizza">X</ion-buttons> -->
        <ion-buttons slot="end">
            <ion-back-button defaultHref="/pizza" text="X" icon=""></ion-back-button>
        </ion-buttons>
        <ion-title>Pizza</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card *ngIf="pizza">
        <img src="{{pizza.photo}}">
        <ion-card-header>
            <div class="title">
                <ion-card-subtitle>{{pizza.prix}} €</ion-card-subtitle>
                <ion-card-title>{{pizza.nom}}</ion-card-title>
            </div>
            <ion-button (click)="addPizza(pizza)">
                <ion-icon name="add-outline"></ion-icon>
            </ion-button>
        </ion-card-header>
        <ion-card-content>
            <ion-list>
                <ion-list-header lines="inset">
                    <ion-label>Les ingrédients</ion-label>
                </ion-list-header>
                <ion-item *ngFor="let ingredient of ingredients">
                    <ion-label>{{ingredient.nom}}</ion-label>
                </ion-item>
            </ion-list>
        </ion-card-content>
    </ion-card>


</ion-content>